@import 'config';

body {
  font-size: $font-size;
  font-family: 'Spartan', sans-serif;
  height: 100vh;
  max-height: 100%;
  background-image: url('../images/bg-pattern-bottom-desktop.svg'),
    url('../images/bg-pattern-top-desktop.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left top;
  background-attachment: fixed;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;

  & main {
    height: 80%;

    max-width: 80%;
    display: grid;
    gap: 10em;
    & .hero-section {
      display: grid;
      grid-template-columns: 0.38fr auto auto;
      grid-auto-rows: minmax(250px, auto);

      & article:nth-child(1) {
        align-self: flex-end;
        .hero-text {
          color: $very-dark-magenta;
          font-weight: $font-large;
          font-size: 3rem;
        }
        .hero-subtext {
          color: $dark-grayish-magenta;
          margin-top: 1rem;
        }
      }
      & article:nth-child(2) {
        grid-column: 3/4;
        justify-self: flex-end;
        align-self: flex-end;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;

        & div {
          background-color: $light-grayish-magenta;
          padding: 15px 70px;
          border-radius: 5px;
          width: fit-content;
          display: grid;
          grid-template-columns: repeat(2,auto);
          column-gap: 2rem;
        }
        & div:nth-child(2) {
          margin-left: 50px;
        }
        & div:nth-child(3) {
          margin-left: 125px;
        }
      }
    }
    & .testimonials {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 250px;
      column-gap: 1rem;

      & article {
        background-color: $very-dark-magenta;
        color: white;
        display: grid;
        padding: 20px;
        border-radius: 10px;
        row-gap: 1em;

        & > :first-child {
          display: grid;
          grid-template-columns: 0.5fr 2fr;
          align-items: center;
          gap: 0.3rem;

          img {
            width: 50px;
            border-radius: 50%;
            justify-self: flex-start;
          }
          & div:nth-child(1) {
            font-weight: $font-large;
            color: white;
          }
          & div:nth-child(2) {
            color: $dark-grayish-magenta;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      & .hero-section {
        grid-template-columns: 1fr;
        place-items: flex-start;
        gap: 1em;
        grid-template-rows: auto auto;
        row-gap: 2rem;

        & article:nth-child(1) {
          display: grid;
          place-items: center;
          text-align: center;
          gap: 1rem;

          .hero-text {
            font-size: 30px;
            width: 75%;
          }
          .hero-subtext {
            font-size: 14px;
            text-align: center;
            width: 90%;
          }
        }
        & article:nth-child(2) {
          justify-self: center;
          align-self: center;
          display: grid;
          grid-template-rows: repeat(3, 1fr);
          gap: 1rem;

          & div {
            background-color: $light-grayish-magenta;
            display: grid;
            grid-template-rows: auto auto;
            place-items: center;
            border-radius: 5px;
            gap: 0.5em;
            width: auto;
          }
          & div:nth-child(2) {
            margin-left: 0px;
          }
          & div:nth-child(3) {
            margin-left: 0px;
          }
        }
      }

      & .testimonials {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
        row-gap: 2rem;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  body {
    background-image: url('../images/bg-pattern-bottom-mobile.svg'),
      url('../images/bg-pattern-top-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left top;
    background-attachment: fixed;
  }
}
